@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #e2e8f0;
}
::-webkit-scrollbar-thumb {
  background-color: #3730a3;
  border-radius: 4px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.filter-input:checked + .filter-label > div {
  @apply bg-indigo-600;
}
input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-indigo-600 rounded-md;
}
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-track {
  @apply bg-slate-50;
}
